:root {
  --prymary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --prymary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

/* основний колір тексту  #2E2F42 */
/* другорядний колір тексту #434455 */
/*основний колір фону #FFFFFF */
/* акцент #E7E9FC */
/* другорядний колір фону #F4F4FD */

.button {
  background-color: #4d5ae5;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.logo {
  color: var(--prymary-text-color);

  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo .text-color {
  color: #4d5ae5;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list {
  list-style: none;
}
/* address-nav */
.address-nav .address-link {
  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: 40;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* site-nav */
.site-nav .link {
  color: var(--prymary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #4d5ae5;
}

/* hero */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: var(--prymary-bg-color);

  font-weight: 700;
  font-style: normal;
  font-size: 1.07;
  line-height: 60px;

  text-align: center;
}

/* features */ /* work */
.section-title {
  color: var(--prymary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.features-list .title {
  color: var(--prymary-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.features-list .text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* team */
.team-list .title {
  color: var(--prymary-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-list .text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* footer */
footer {
  background-color: #2e2f42;
}

.subject {
  color: var(--prymary-bg-color);
}

.caption {
  color: #E7E9FC;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* page portfolio */
.works .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.works .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.filter-list .item:hover,
.filter-list .item:focus {
  background-color: #404bbf;
  color: var(--prymary-bg-color);
  cursor: pointer;
}
