:root {
  --prymary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --prymary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: ##2e2f42;
  background-color: #ffff;
  letter-spacing: 0.02em;
}

/* основний колір тексту  #2E2F42 */
/* другорядний колір тексту #434455 */
/*основний колір фону #FFFFFF */
/* акцент #E7E9FC */
/* другорядний колір фону #F4F4FD */

.button {
}

.logo {
  color: var(--prymary-text-color);

  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo .text-color {
  color: #4d5ae5;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list {
  list-style: none;
}

.address-nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

/* site-nav */
.site-nav .link {
  color: var(--prymary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: rgb(180, 29, 29);
}

/* hero */
.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.07;
  line-height: 60px;

  text-align: center;
}

/* features */ /* work */
.section-title {
  color: var(--prymary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.features-list .title .team-list .title {
  color: var(--prymary-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.features-list .text 
.team-list .text 
 {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* team */

/* footer */

.text-color {
}

/* page portfolio */
.works .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  
  .works .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
